{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Менеджер IT проектов</title>
        <link rel="stylesheet" href="{% static 'style/main.css'%}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <script src="{% static 'js/script.js' %}"></script>
    </head>
    <body>
        <header class="page-header">
            <nav class = "main-nav">
                <div class = 'manager_logo'>
                    <img src = "{% static 'img/manager-logo.png' %}" alt = 'Логотип' width="100px" height="80px">
                    <p class ='logo-text'>Менеджер IT-проектов</p>
                </div>

                <div class="navigation">
                    <div class="navigation__item {% if active_page == 'home' %}nav-active{% else %}nav-inactive{% endif %}">
                        <a class="nav-item" href="{% url 'home' %}">Главная</a>
                    </div>
                    <div class="navigation__item {% if active_page == 'statistic' %}nav-active{% else %}nav-inactive{% endif %}">
                        <a class="nav-item" href="{% url 'statistic' %}">Общая статистика</a>
                    </div>
                    <div class="navigation__item {% if active_page == 'relevance' %}nav-active{% else %}nav-inactive{% endif %}">
                        <a class="nav-item" href="{% url 'relevance' %}">Востребованность</a>
                    </div>
                    <div class="navigation__item {% if active_page == 'geography' %}nav-active{% else %}nav-inactive{% endif %}">
                        <a class="nav-item" href="{% url 'geography' %}">География</a>
                    </div>
                    <div class="navigation__item {% if active_page == 'skills' %}nav-active{% else %}nav-inactive{% endif %}">
                        <a class="nav-item" href="{% url 'skills' %}">Навыки</a>
                    </div>
                    <div class="navigation__item {% if active_page == 'last_vacancies' %}nav-active{% else %}nav-inactive{% endif %}">
                        <a class="nav-item" href="{% url 'last_vacancies' %}">Последние вакансии</a>
                    </div>
                </div>
                <div class = "authentication">
                    <div class = "authentication__item authentication__item__login">
                        Login
                    </div>
                    <div class = "authentication__item authentication__item__sign-up">
                        <p class="sign-up">Sign Up</p>
                    </div>
                </div>
            </nav>
        </header>

        <main>
             <h1 style = "text-align: center; padding: 18px 0px;">
                Популярные навыки
            </h1>
            <div class = 'profession-description'>
                Выделим самые важные, частовстречающиеся и необходимые навыки для данной профессии:
            </div>
            <ul class = 'skills-list'>
                    <li>
                        Управление проектами: 126 раз;
                    </li>
                    <li>
                        Организаторские навыки: 46 раз;
                    </li>
                    <li>
                        Работа в команде: 34 раз;
                    </li>
                    <li>
                        MS Project: 32 раз;
                    </li>
                    <li>
                        Agile Project Management: 31 раз.
                    </li>
                </ul>
        </main>

        <footer style = "margin-top: 100px; justify-content: center; display: flex;">
            <p style = "fontsize: 30px"> СВЯЗЬ С РАЗРАБОТЧИКОМ - tg @stepa_who </p>
        </footer>
    </body>
</html>